<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>

    <meta charset="UTF-8">
    <link th:href="@{/css/min.css}" rel="stylesheet">

</head>
<body>
<div th:fragment="navigationbar" class="box6">
    <p>Pay My Buddy</p>
    <div> <span th:text="${connectedUserEmail}"></span> est connecté(e)</div>

    <form th:action="@{/editTransaction}" method="get" class="active">
        <button type="submit" th:text="Transférer" class="navButton" >
            Transférer
        </button>
    </form>

    <form th:action="@{/editUserPayApp}" method="get" class="active">
        <button type="submit" th:text="Profil" class="navButton">
            Profil
        </button>
    </form>
    <form th:action="@{/editBeneficiariesUserList}" method="get" class="active">
        <button type="submit" th:text="'Ajouter '+'Relation'" class="navButton" >
            Ajouter Relation
        </button>
    </form>
    <form th:action="@{/logout}" method="post" class="active">
        <button type="submit" th:text="'Se '+'déconnecter'" class="navButton">
            Se déconnecter
        </button>
    </form>


</div>


</body>
</html>


<!--



<li class="active"><a th:href="@{/editTransaction}" >Transférer</a></li>

    <td ><a class="active" th:href="@{/editTransaction}" >Transférer</a></td>

    <li class="active"><a th:href="@{/editUserPayApp}" >Profil</a></li>

    <td ><a class="active" th:href="@{/editUserPayApp}" >Profil</a></td>

    <li class="active"><a th:href="@{/editBeneficiariesUserList}" >Ajouter Relation</a></li>

    <td ><a class="active" th:href="@{/editBeneficiariesUserList}" >Ajouter Relation</a></td>

    <li class="active"><a th:href="@{/logout}" >Se déconnecter</a></li>


        <td ><a class="active" th:href="@{/logout}" >Se déconnecter</a></td>



<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <h1>Thymeleaf Fragments sample</h1>
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>

-->