<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head >
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/min.css}"/>
        <title>Transaction page</title>
    </head>
    <body>
        <header th:insert="~{fragments/general.html :: navigationbar}"></header>
        <br>
        <br>
        <form action="#" th:action="@{/addTransaction}" th:object="${transactionDTO}" method="POST">
            <div class="box4">

                <label for="beneficiariesUser">
                    <br>
                    <select class="input400" id="beneficiariesUser" th:field="*{emailCreditedAccount}">
                        <option value="0" >
                            Sélectionner une relation
                        </option>
                        <option th:each="option : ${emailsBeneficiariesUserList}" th:value="${option}"
                                th:text="${option}">
                        </option>
                    </select>
                </label>
                <label>
                    <br>
                    <input type="text"  th:field="*{description}" placeholder="description" class="input400"/>
                </label>
                <label>
                    <br>
                    <input type="number" min="0" th:max="${amountMax}" th:field="*{amount}" placeholder="0"
                           class="input150"/>
                    <span>€</span>
                </label>
                <input type="submit" value="Payer" class="blueButton"/>
            </div>
            <br></br>
            <br></br>
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors() }" th:text="${err}" class="error" />
            </div>
        </form>
        <table>
            <tr>
                <th class="text-align-left t">Mes transactions<br>Relation</th>
                <th class="text-align-left t">Description</th>
                <th class="text-align-right t">Montant</th>
            </tr>
            <tr th:each="pastTransaction : ${pastTransactionDTOs}">
                <td th:text="${pastTransaction.emailCreditedAccount}" class="text-align-left t"></td>
                <td th:text="${pastTransaction.description}" class="text-align-left t"></td>
                <td th:text="${pastTransaction.amount}+' €'" class="text-align-right t"></td>
            </tr>
        </table>
    </body>
</html>
