<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Beneficiary user form</title>
        <link rel="stylesheet" th:href="@{/css/min.css}"/>
    </head>
    <body>
        <header th:insert="~{fragments/navigationBar.html :: navigationbar}"></header>
        <br>
        <br>
        <form action="#" th:action="@{/modifyBeneficiariesUserList}"
              th:object="${beneficiaryUserDTO}" method="POST">
            <div class="centerBox700">
                <div></div>
                <div>
                    <table class="t2">
                        <tr>
                            <td >
                                Ajouter une relation :
                            </td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td >
                                <label for="emailsNoBeneficiariesUserList">
                                    <select class="form-control" id="emailsNoBeneficiariesUserList"
                                            th:field="*{addBeneficiaryEmail}">
                                        <option value="0">
                                            Sélectionner une relation
                                        </option>
                                        <option th:each="option : ${emailsNoBeneficiariesUserList}" th:value="${option}"
                                                th:text="${option}">
                                        </option>
                                    </select>
                                </label>
                            </td>
                            <td rowspan="3">
                                <input type="submit" value="Enregistrer" class="orangeButton"/>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Supprimer une relation :
                            </td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="emailsBeneficiariesUserList">
                                    <select class="form-control" id="emailsBeneficiariesUserList"
                                            th:field="*{suppBeneficiaryEmail}" >
                                        <option value="0">
                                            Sélectionner une relation
                                        </option>
                                        <option th:each="option : ${emailsBeneficiariesUserList}" th:value="${option}"
                                                th:text="${option}">
                                        </option>
                                    </select>
                                </label>
                            </td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div th:if="${#fields.hasGlobalErrors()}">
                                    <p th:each="err : ${#fields.globalErrors() }" th:text="${err}" class="error" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div></div>
            </div>
        </form>
    </body>
</html>
