<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update user form</title>
        <link rel="stylesheet" th:href="@{/css/min.css}"/>
    </head>
    <body>
        <header th:insert="~{fragments/navigationBar.html :: navigationbar}"></header>
        <form action="#" th:action="@{/updateUserPayApp}" th:object="${userPayAppDTO}" method="POST">
            <br><br>
            <div class="centerBox700">
                <div></div>
                <div>
                    <table class="t2">
                        <tr>
                            <td colspan="2" class="text-align-left">
                                Votre Mail ne peut être modifié.
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-align-left">
                                Mot de passe
                            </td>
                            <td>
                                <label for="passWord">
                                    <input type="password" th:field="*{passWord}" id="passWord"
                                           placeholder="mot de passe" class="inputWithoutBorder"/>
                                </label>
                            </td>
                            <td rowspan="2">
                                <input type="submit" value="Modifier" class="orangeButton"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-align-left">
                                Compte bancaire associé
                            </td>
                            <td >
                                <label for="selfAccount">
                                    <input type="text" th:field="*{selfAccount}" id="selfAccount"
                                           placeholder="Compte bancaire associé" class="inputWithoutBorder"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div th:if="${#fields.hasGlobalErrors()}">
                                    <p th:each="err : ${#fields.globalErrors() }" th:text="${err}" class="error" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </body>
</html>
